---
import ColorSwatchIcon from "@icons/ColorSwatchIcon.astro";
import { Image } from "astro:assets";

interface Props {
  id: string;
  name: string;
  description: string;
  link: string;
  user: string;
  user_url: string;
  image: string;
  multipleBackgrounds: boolean;
  isNew?: boolean;
}

const {
  name,
  description,
  link,
  user,
  user_url,
  image,
  multipleBackgrounds,
  isNew,
} = Astro.props;
---

<div>
  <a href={link} target="_blank">
    {
      (
        <Image
          class="h-auto rounded-lg aspect-video hover:scale-105 transition duration-200 ease-in-out"
          src={image as string}
          alt={name}
          width="350"
          height="300"
          loading="lazy"
        />
      )
    }
  </a>
  <div class="py-4 px-1 max-w-xs">
    <div class="flex flex-row items-center gap-x-2">
      <a href={link} target="_blank" class="font-medium">{name}</a>
      {
        multipleBackgrounds && (
          <div class="relative inline-block group">
            <ColorSwatchIcon class="size-4 hover:text-dracula-300" />
            <div class="hidden group-hover:flex justify-center transition absolute bottom-6 -left-[54px] w-[140px] z-10 bg-aro/95 text-white text-xs p-2 rounded shadow-lg text-center">
              multiple backgrounds
              <svg
                class="absolute text-aro/95  h-2 w-full left-0 -bottom-2"
                x="0px"
                y="0px"
                viewBox="0 0 255 255"
                xml:space="preserve"
              >
                <polygon class="fill-current" points="0,0 127.5,127.5 255,0" />
              </svg>
            </div>
          </div>
        )
      }
      {
        isNew && (
          <span class="cursor-default text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-dracula-400 dark:text-white">
            New!
          </span>
        )
      }
    </div>
    <div class="flex flex-col">
      <p class="text-sm text-white/90 mt-2 font-normal font-sans">
        {description}
      </p>
      <a
        href={user_url}
        target="_blank"
        class="text-xs text-white/60 mt-2 font-normal hover:text-white transition"
        >{user}</a
      >
    </div>
  </div>
</div>
